<%= form_with(model: current_account.active_relationships.build) do |f| %>
  <div><%= hidden_field_tag :followed_id, account.id %></div>
  <%= f.submit "Follow", class: "cursor-pointer rounded-full py-2 px-4 rounded bg-blue-600 flex items-center gap-2 text-white hover:bg-blue-700 ml-auto" %>
<% end %>