<div style="margin-bottom: 0rem;">
    <h1 class="text-6xl font-semibold capitalize"> <%= @podcast.name %></h1>
    <h6 class="py-5 font-semibold"><%= link_to @podcast.account.name, profile_path(@podcast.account.username) %></h6>
</div>