<%# Checks if cover image is attached or renders a default cover image %>
<% if @event.image.attached? %>
    <%= image_tag(@event.image, class: "w-full h-72 object-cover rounded-b-xl", alt: "Event image", data: { profile_edit_form_target: "coverImagePreview" }, class: "w-full h-72 object-cover rounded-b-xl", alt: "Evebt image") %>
<% else %>
    <div class="w-full h-72 object-cover rounded-b-xl bg-blue-400"></div>
<% end %>