<%= render 'layouts/modal_dialog' do %>
  <div data-action="turbo:submit-end->dialog#submitEnd">
    <h1 class="font-semibold text-2xl p-3 border-b">Sign In</h1>
    <form class="space-y-6 mx-5" action="/accounts/sign_in" method="POST">

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
          <input type="email" name="account[email]" id="email" autocomplete="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@example.com" required />
        </div>

        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
          
          <input type="password" name="account[password]" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
        </div>

        <div class="flex items-start">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input id="remember" name="account[remember_me]" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" />
            </div>
              <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
          </div>
          <a href="/accounts/password/new" class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Lost Password?</a>
        </div>

        <button type="submit" class="w-full rounded-full py-2 px-4 bg-blue-800 text-white hover:bg-blue-700">Login to your account</button>

        <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
          Not registered? <a href="/accounts/sign_up" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
          <p class="mt-2">
          </p>
        </div>
      </form>
  </div>
<% end %>