<% if @episode.audio.attached? %>
  <div data-controller="audio-player" data-audio-player-url-value="<%= url_for(@episode.audio) %>">

    <div class="w-full flex items-center gap-4">

      <!-- Play/Pause Button -->
      <%= link_to "#", class: "p-4 bg-blue-500 rounded-full", data: { action: "audio-player#togglePlaying" } do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
          <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6 hidden">
          <path fill-rule="evenodd" d="M6.75 5.25a.75.75 0 0 1 .75-.75H9a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H7.5a.75.75 0 0 1-.75-.75V5.25Zm7.5 0A.75.75 0 0 1 15 4.5h1.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H15a.75.75 0 0 1-.75-.75V5.25Z" clip-rule="evenodd" />
        </svg>
      <% end %>

      <!-- Waveform Preview -->
      <div data-audio-player-target="preview" class="w-full"></div>
    </div>

    <div class="flex gap-3 items-center text-sm pt-2">
      <!-- Rewind Button -->
      <%= link_to "#", class: "flex items-center gap-1 justify-center items-center font-semibold", data: { action: "audio-player#rewind" } do %>

        20s
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
      <% end %>

      <!-- Fast Forward Button -->
      <%= link_to "#", class: "flex gap-1 items-center justify-center items-center font-semibold", data: { action: "audio-player#fastForward" } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m15 15 6-6m0 0-6-6m6 6H9a6 6 0 0 0 0 12h3" />
        </svg>

        20s
      <% end %>

      <!-- Playback Speed Button -->
      <button type="button" class="font-semibold" data-action="audio-player#changeSpeed" data-audio-player-target="speedButton">1x</button>

      <!-- Live Progress -->
      <div class="ml-auto">
        <span data-audio-player-target="currentTime">00:00</span> | <span data-audio-player-target="totalTime">00:00</span>
      </div>
    </div>
  </div>
    
<% end %>
