
<tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
            <%= link_to podcast.name, dashboard_podcast_path(podcast), data: { turbo_frame: "_top" } %>
        </th>
        <td class="px-6 py-4">
            <%= link_to podcast.account.name, profile_path(podcast.account.username), data: { turbo_frame: "_top" } %>
        </td>
        <td class="px-6 py-4">
            <%= podcast.episodes.count %>
        </td>
        <td class="px-6 py-4">
            <%= render_date(podcast) %>
        </td>
    </tr>
</tbody>