<div class="text-center">
    <h2 class="text-xl sm:text-xl md:text-2xl font-semibold capitalize leading-tight">
        <%= @event.rsvps.going.count %>
    </h2>
    <p> Going</p>
</div>

<div>
    <h2 class="text-xl sm:text-xl md:text-2xl font-semibold capitalize leading-tight">
        <%= @event.rsvps.interested.count %> 
    </h2>
    <p>Interested</p>
</div>