Co-host Invites
<% if current_account.event_co_hosts.where(status: :pending).present? %>
    <span class="bg-red-700 text-sm px-2 text-white py-1 rounded-full ml-2"><%= current_account.event_co_hosts.where(status: :pending).count %></span>
<% end %>