<% if account_signed_in? %>
    <% if (controller.controller_name == 'podcasts' || controller.controller_name == 'episodes' || 'playlists') %>
        <div class="absolute" style="top:90px;">
            <button class="fixed text-white bg-blue-700/50 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-0.5 py-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
    <% end %>
<% end %>