<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex flex-wrap items-center justify-between max-w-screen-l mx-auto p-4">
    <div class="flex items-center sm:space-x-0 space-x-3 rtl:space-x-reverse">

      <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open sidebar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
        </svg>
      </button>

      <%= link_to root_path, class: "self-center text-2xl font-semibold whitespace-nowrap flex gap-2 dark:text-white" do %>
        <img src="https://e7.pngegg.com/pngimages/302/662/png-clipart-ywam-harpenden-youth-with-a-mission-christian-mission-disciple-thriving-miscellaneous-christianity-thumbnail.png" class="h-8 bg-white" alt="Flowbite Logo" />
        Extra
      <% end %>
    </div>

    <div class="flex items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
      
      <%= render 'layouts/navigation/right-menu' %>

      <button data-collapse-toggle="mega-menu" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mega-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>

    <div id="mega-menu" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
      <%= render 'layouts/navigation/middle-lists' %>
    </div>
  </div>
</nav>
